{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" ng-controller='PaginationCtrl' ng-init="showData()">
        <div class="col-xs-12 col-md-12">
            <div class="box-blue">
            <h1>Seite nicht gefunden</h1>
            <p>Knapp daneben ist auch vorbei. Dafür kannst du dir aber ein lustiges Fußballbild anschauen!<br /><br />
            <img src="http://media.giphy.com/media/N1Z4Zj7p5Y5P2/giphy.gif" width="100%"/>
            </p>
            </div>
        </div>
    </div>
{% endblock %}