{% extends 'base.html.twig' %}
{% block javascripts %}
<script src=" {{ asset('bundles/acmeblog/js/controller/newsController.js') }} "></script>
{% endblock %}
{% block body %}
    <div class="container" ng-controller='PaginationCtrl' ng-init="showData()">
        <div class="col-xs-12 col-md-8">
            <div class="box-blue">
            <h1>Neueste Beiträge</h1>
                <div ng-repeat="datalist in datalists | pagination: curPage * pageSize | limitTo: pageSize | filter:search" ng-class-odd="odd" ng-class-even="even">
                    <h3><a href="/article/[[datalist.alias]]">[[datalist.headline]]</a></h3>
                    [[datalist.articleContent | limitTo : 300 : 0 | htmlToPlaintext ]]...
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="box-blue">
                <form novalidate class="form-horizontal" role="form">
                    <div class="form-group">
                        <input class="form-control" type="text" ng-model="formInfo.search">
                        <button ng-click="saveData()" type="submit" class="btn btn-success">Suchen</button>
                    </div>
                </form>
                <div class="pagination pagination-center" ng-show="datalists.length" style="float: left; margin: 0;">
                    <ul class="pagination-controle pagination">
                        <li>
                            <button type="button" class="btn-default" ng-disabled="curPage == 0" ng-click="curPage=curPage-1"> &lt; Zurück</button>
                        </li>
                         <li>
                            <span style="float: none !important;">Seite [[curPage + 1]] von [[ numberOfPages() ]]</span>
                        </li>
                        <li>
                            <button type="button" class="btn-default" ng-disabled="curPage >= datalists.length/pageSize - 1" ng-click="curPage = curPage+1">Weiter &gt;</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}  