{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="col-xs-12 col-md-12">
            <div class="box-blue">
            <h1>Trainingszeiten</h1>
            <hr />
            <h2>Montags</h2>
            <p>Wir trainieren immer Montags am Sportplatz Sander Tannen. <b>WICHTIG: Das ist kein VfL Lohbrügge Trainingsgelände sondern gehört zu FC Bergedorf 85/ASV Bergedorf</b></p>
            <p>Ort: Krusestr. 7 (Sander Tannen), 21033 Hamburg </p>
            <p>Zeit: 19:15 Uhr</p>
            </div>
        </div>
    </div>

<iframe width="100%"
height="300"
src="https://maps.google.de/maps?hl=de&q=Krusestraße 7, 21033 Hamburg+(Sportplatz Sander Tannen)&ie=UTF8&t=&z=17&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" ></iframe>

    <div class="container">
        <div class="col-xs-12 col-md-12">
            <div class="box-blue">
            <h2>Mittwochs</h2>
            <p>Wir trainieren immer Mittwochs am Sportplatz Binnenfeldredder.</p>
            <p>Ort: Binnenfeldredder 9 (Sportplatz Am Binner), 21031 Hamburg </p>
            <p>Zeit: 19:15 Uhr</p>
            </div>
        </div>
    </div>

<iframe width="100%"
height="300"
src="https://maps.google.de/maps?hl=de&q=Binnenfeldredder 9, 21031 Hamburg+(Sportplatz Am Binner)&ie=UTF8&t=&z=17&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" ></iframe>

{% endblock %}  