<!Doctype html>
<html>
    <head>
        <title>{% block title %}VfL Lohbrügge 3. Herren{% endblock %}</title>
        <link href=" {{ asset('bundles/acmeadmin/css/style-admin.css') }} " rel="stylesheet" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <script src=" {{ asset('bundles/acmeblog/js/angular.js') }} "></script>
        <script src=" {{ asset('bundles/acmeblog/js/controller.js') }} "></script>
    </head>
    <body ng-app="MyApp">
        <div id='upper-div'>
            <h2>Administrationsbereich - <a href='/'>VfL Lohbrügge 3. Herren</a></h2>
        </div>
        <div id='leftmenu' ng-controller="myCtrl">
            <h4><a>Dashboard</a></h4>
            <h4><a class='menulink' id='link-1' ng-click="openTab('tab one')">Beiträge</a></h4>
        <div class='menudiv' id='div-1' ng-show="isOpenTab('tab one')" style='background: #333; padding: 10px; display: none;'>
            <ul>
                <li><a href='edit.php'>Alle anzeigen</a></li>
                <li><a href='new-article.php'>Neu Erstellen</a></li>
		<li><a>Kategorien</a></li>
		<li><a>Papierkorb</a></li>
            </ul>
        </div>
            <h4><a class='menulink' id='link-2'>Termine</a></h4>
        <div  class='menudiv' id='div-2' style='background: #333; padding: 10px; display: none;'>
            <ul>
                <li><a>Alle anzeigen</a></li>
                <li><a>Neu Erstellen</a></li>
		<li><a>Kategorien</a></li>
            </ul>
	</div>
            <h4><a class='menulink' id='link-3'>Spieler</a></h4>
        <div  class='menudiv' id='div-3' style='background: #333; padding: 10px; display: none;'>
            <ul>
                <li><a>Alle anzeigen</a></li>
                <li><a>Neu Erstellen</a></li>
            </ul>
        </div>
            <h4><a class='menulink' id='link-4'>Benutzer</a></h4>
        <div  class='menudiv' id='div-4' style='background: #333; padding: 10px; display: none;'>
            <ul>
                <li><a>Alle anzeigen</a></li>
                <li><a>Neu Erstellen</a></li>
		<li><a>Dein Profil</a></li>
            </ul>
        </div>
            <h4><a class='menulink' id='link-4'>Medien</a></h4>
        <div  class='menudiv' id='div-4' style='background: #333; padding: 10px; display: none;'>
            <ul>
                <li><a>Medienübersicht</a></li>
                <li><a>Datei hinzufügen</a></li>
            </ul>
        </div>
        </div>
        <div id='content'>
           {% block body %}{% endblock %}
        </div>
    </body>
    
</html>