{% extends 'admin.html.twig' %}
{% block javascripts %}
<script src=" {{ asset('bundles/acmeadmin/js/controller/playersController.js') }} "></script>
{% endblock %}
{% block body %}
        <div id="page-wrapper">

            <div class="container-fluid" ng-controller='PaginationCtrl' ng-init="showData()">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Spieler/Benutzer
                        </h1>
                        <div class="col-lg-2">
                            <div class="form-group input-group">
                            <form novalidate class="form-horizontal" role="form">
                                <input class="form-control" type="text" ng-model="formInfo.search">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" ng-click="saveData()" type="submit"><i class="fa fa-search"></i></button>                
                                    </span>                         
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <a href="/admin/players/new"><button class="btn btn-primary">Neuer Benutzer</button>  </a>
                        </div>   
                        <div class="col-lg-3">
                            <div class="pagination pagination-center" style="margin-top: -20px !important;" ng-show="datalists.length">
                                <ul class="pagination">
                                    <li><button class="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1"> &lt; Zurück</button></li>
                                    <li class="active"><button class="btn btn-default" >Seite [[curPage + 1]] von [[ numberOfPages() ]]</button></li>
                                    <li><button class="btn btn-primary" ng-disabled="curPage >= datalists.length/pageSize - 1" ng-click="curPage = curPage+1">Weiter &gt;</button></li>
                                </ul>      
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Benutzername</th>
                                        <th>E-Mail</th>
                                        <th>Gruppe</th>
                                        <th>Login</th>
                                    </tr>
                                    <tr ng-repeat="datalist in datalists | pagination: curPage * pageSize | limitTo: pageSize" ng-class-odd="'odd'" ng-class-even="'even'">
                                        <td><b>[[datalist.firstName]] [[datalist.name]]</b><div class="actions_div"><a href="[[datalist.id]]">Bearbeiten</a>  |  <a style="color: red; cursor: pointer;" data-toggle="modal" data-target="#myModal" ng-click="$parent.userid = datalist.id ">Löschen</a> </div></td>
                                        <td>[[datalist.username]]</td>
                                        <td>[[datalist.email]]</td>
                                        <td>[[datalist.group.groupName]]</td>
                                        <td>[[datalist.lastVisit.date |login]]</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Benutzer löschen</h4>
                      </div>
                      <div class="modal-body">
                        <p>Der Benutzer wird unwiderruflich gelöscht!</p>
                      </div>
                      <div ng-cloak class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                        <a href="delete/[[userid]]"><button type="button" class="btn btn-danger">Löschen</button></a>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
            
        </div>
                <!-- /.row -->

{% endblock %}  