{% extends 'adminbase.html.twig' %}
{% block javascripts %}
<script src=" {{ asset('bundles/acmeadmin/js/controller/eventcategory.js') }} "></script>
{% endblock %}
{% block body %}
    <h1>Kategorien</h1>
    <a href="new"><button class='btn-primar'>Erstellen</button></a>
<div ng-controller='PaginationCtrl' ng-init="showData()">
        <div class="pagination pagination-centered" ng-show="datalists.length" style="float: right; margin: 0;">
            <ul class="pagination-controle pagination">
                <li>
                    <button type="button" class="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1"> &lt; Zurück</button>
                </li>
                 <li>
                    <span style="float: none !important;">Seite [[curPage + 1]] von [[ numberOfPages() ]]</span>
                </li>
                <li>
                    <button type="button" class="btn btn-primary" ng-disabled="curPage >= datalists.length/pageSize - 1" ng-click="curPage = curPage+1">Weiter &gt;</button>
                </li>
            </ul>
        </div>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="message">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <table id='article-table' width="100%">
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Kategorie</th>
                </tr>
                
                <tr ng-repeat="datalist in datalists | pagination: curPage * pageSize | limitTo: pageSize" ng-class-odd="odd" ng-class-even="even">
                    <td><input type="checkbox" value="[[datalist.id]]"></td>
                    <td>[[datalist.id]]</td>
                    <td><b><a href="[[datalist.id]]">[[datalist.title]]</a></b><div class="actions_div"><a href="[[datalist.id]]">Bearbeiten</a>  |  <a style="color: red;" href="delete/[[datalist.id]]">Löschen</a></div></td>
                </tr>
            </table>
        </div>
{% endblock %}  